* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.26) 0%, rgba(0, 0, 0, 0.26) 138.1%), #CFE9E0;
    background-attachment: fixed;
}

nav {
    background-image: linear-gradient(to right, #2D4613, #6D7E5A);
    border-radius: 0 0 40px 40px;
    position: relative;
    top: 10%;
    left: 0;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px 4% 1.5% 4%;
    gap: 5%;
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 160%;
    font-family: Calibri, serif;
}

nav a:visited {
    color: white;
}

nav img {
    margin-right: auto;
    padding: 0;
    width: 10%;
    height: auto;
}

#bin-input {
    margin-top: 4%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 80%;
}

.vertical-display {
    width: 115px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.vertical-display::file-selector-button {
    cursor: pointer;
}

.image-clicker img {
    cursor: pointer;
    height: auto;
    transition: transform 0.2s;
}

#imgPlaceholder {
    border-radius: 3px;
    border-width: 20px;
    border-color: darkslategray;
}

#address {
    width: 400px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgray;
    box-shadow: none;
    outline: none;
    border-style: solid;
}

#address::placeholder {
    color: rgb(151 150 150 / 0.89);
}

#post-button {
    background-color: #715555;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px 15px 5px 15px;
}

#post-button:hover {
    background-color: #8a6e6e;
    transition: transform 0.2s;
}