{% extends "base.html" %}
{% block content %}

<div class="title-page">
    <h1>Dashboard</h1>
</div>

<body>
  <div class="infoDash">
    <div class="info">
      <p> Précision du modèle binaire : </p>
      <h2> 67,5 % </h2>
    </div>
    <div class="info">
      <p> Précision du modèle tri-classe : </p>
      <h2> 50 % </h2>
    </div>

  </div>


  <div class="charts">
    <div class="chart-left">
      <h3 style="text-align: center;"> Répartition des poubelles </h3>
      <canvas id="Chart1"></canvas>
    </div>
    <div class="chart-right">
      <canvas id="Chart2"></canvas>
    </div>
  </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const nbImages = {{ nb_images | tojson }};
  // console.log("hello", nbImages);
  const ctx = document.getElementById('Chart1');
  const values1 = {{ values1 | tojson }};

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Propre', 'Sale', 'Non Classifié'],
      datasets: [{
        label: 'Répartition poubelles',
        data: values1,
        backgroundColor: ["rgba(186, 40, 210, 0.5)", "blue", "green"]

      }],

    },
  });

  const ctx2 = document.getElementById('Chart2');
  const values2 = {{ values2 | tojson }};

</script>


{% endblock %}