{% extends "base.html" %}
{% block content %}
<div class="title-page">
    <h1>Galerie des images</h1>
</div>

<div class="gallery-container">
    {% for img in images %}
    <a href="{{ url_for('result', image_id=img['id']) }}" class="img-case">
        <img src="static/uploads/{{ img.file_path.split('uploads/')[-1] }}" alt="{{ img.auto_label }}">

        <div class="card-overlay">
            <p class="card-label">Label: {{ img['auto_label'] if img['auto_label'] else "Non classifié" }}</p>
            <p class="card-meta">Luminosité: {{ img['luminosite'] if img['luminosite'] is not none else "Inconnue" }}</p>
            <p class="card-meta">Date: {{ img['upload_date'] if img['upload_date'] else "Inconnue" }}</p>
            <p class="card-meta">Latitude: {{ img['latitude'] if img['latitude'] is not none else "Inconnue" }}</p>
            <p class="card-meta">Longitude: {{ img['longitude'] if img['longitude'] is not none else "Inconnue" }}</p>
            <p class="card-meta">Adresse: {{ img['localisation_nom'] if img['localisation_nom'] else "Inconnue" }}</p>
        </div>
    </a>
    {% endfor %}
</div>
<div class="pagination">
    {% if page > 1 %}
    <a href="{{ url_for('gallery', page=page-1) }}">Précédent</a>
    {% endif %}

    <span>Page {{ page }} sur {{ total_pages }}</span>

    {% if page < total_pages %} <a href="{{ url_for('gallery', page=page+1) }}">Suivant</a>
        {% endif %}
</div>
{% endblock %}