{% extends "base.html" %}
{% block content %}
<div class="title-page">
    <h1>{{ _('Galerie des images') }}</h1>
</div>

{% set label_translations = {
    'propre': _('Propre'),
    'sale': _('Sale'),
    'debordante': _('Débordante')
} %}

<div class="gallery-container">
    {% for img in images %}
    <a href="{{ url_for('result', image_id=img['id']) }}" class="img-case">
        <img src="{{ url_for('static', filename='uploads/' + img['file_name']) }}" alt="{{ img['auto_label'] }}">
        <div class="card-overlay">
            <p class="card-label">{{ _('Label:') }} {{ label_translations.get(img['auto_label'], _("Non classifié")) }}</p>
            <p class="card-meta">{{ _('Luminosité:') }} {{ img['luminosite'] if img['luminosite'] is not none else _("Inconnue") }}</p>
            <p class="card-meta">{{ _('Date:') }} {{ img['upload_date'] if img['upload_date'] else _("Inconnue") }}</p>
            <p class="card-meta">{{ _('Latitude:') }} {{ img['latitude'] if img['latitude'] is not none else _("Inconnue") }}</p>
            <p class="card-meta">{{ _('Longitude:') }} {{ img['longitude'] if img['longitude'] is not none else _("Inconnue") }}</p>
            <p class="card-meta">{{ _('Adresse:') }} {{ img['localisation_nom'] if img['localisation_nom'] else _("Inconnue") }}</p>
        </div>
    </a>
    {% endfor %}
</div>
<div class="pagination">
    <div>
        <span>{{ _('Page') }} {{ page }} {{ _('sur') }} {{ total_pages }} | </span>
    </div>
    <div>
        {% if page > 1 %}
        <a class="btn-back" href="{{ url_for('gallery', page=page-1) }}">←</a>
        {% endif %}
        {% if page < total_pages %} 
        <a class="btn-back" href="{{ url_for('gallery', page=page+1) }}">→</a>
        {% endif %}
    </div>
</div>
{% endblock %}